* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #456;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}


#container {   
    width: 67%;   
    margin: 0px auto;  
    position: relative;
    background-color: #bbc;
    border-left: 2px solid #226;
    border-right: 2px solid #226;
}


header {
    background: #89b;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #eef;
    text-shadow: -3px 3px #338;
    border-bottom: 1px solid #228;
}


header .separator {
    width: 110px;
    margin: 8px auto 3px;

}

header h1 {
    font-size: 40px;
}

header h2 {
    font-size: 24px;
}

nav {
    background-color: #88e;
    position: relative;
}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-end;
}


section .cast-shadow {
    margin: 20px 50px 40px;
    filter: drop-shadow(-10px 10px 2px rgba(49, 14, 14, 0.28));
    z-index: auto; 
}

section div {
    width: 100%;
}

section div .separator {
    width: 15%;
    justify-content: center;
    margin: 20px 100px 20px;
    /* align-items: center; */
    /* margin: 0px auto; */
}


footer {
    background: #89b;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;

    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}


#light {
    position: fixed;
    width: 14px;
    height: 14px;
    background-color:  hsla(0, 100%, 100%, 0.9);
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0px 0px 30px hsla(0, 100%, 100%, 0.5),
                0px 0px 30px hsla(0, 100%, 100%, 0.5),
                0px 0px 30px hsla(0, 100%, 100%, 0.5),
                0px 0px 30px hsla(0, 100%, 100%, 0.5);
}