* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #456;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}


#container {   
    width: 67%;   
    margin: 0px auto;  
    position: relative;
    background-color: #bbc;
    border-left: 2px solid #336;
    border-right: 2px solid #336;
}


header {
    background: #89b;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eef;
    text-shadow: -3px 3px #338;
    border-bottom: 1px solid #336;
}


header .separator {
    width: 100px;
    margin: 8px auto 3px;
}


header h1 {
    font-size: 40px;
}


header h2 {
    font-size: 24px;
}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-end;
}


section .cast-shadow {
    margin: 20px 50px 40px;
    filter: drop-shadow(-10px 10px 2px rgba(14, 14, 14, 0.5));
    z-index: auto; 
}


footer {
    background: #89b;
    border-top: 1px solid  #336;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 35px;

    line-height: 30px;
    text-align: center;
    color: #fff;
    text-shadow: -2px 2px #338;
    font-size: 15px;
}
